<div class="add-noticia-container">
  <h1>Agregar Noticia</h1>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <form (ngSubmit)="saveNoticia()" #noticiaForm="ngForm" enctype="multipart/form-data" class="edit-form">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" [(ngModel)]="noticia.titulo" name="titulo" required class="form-control">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" [(ngModel)]="noticia.descripcion" name="descripcion" required class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="fecha_hora">Fecha y Hora</label>
      <input type="datetime-local" id="fecha_hora" [(ngModel)]="noticia.fecha_hora" name="fecha_hora" required class="form-control">
    </div>
    <div class="form-group">
      <label for="status">Estado</label>
      <select id="status" [(ngModel)]="noticia.status" name="status" required class="form-control">
        <option value="Publicado">Publicado</option>
        <option value="Borrador">Borrador</option>
      </select>
    </div>
    <div class="form-group">
      <label for="privilegio">Privilegio</label>
      <select id="privilegio" [(ngModel)]="noticia.privilegio" name="privilegio" required class="form-control">
        <option *ngFor="let valor of [1, 2, 3, 4, 5]" [value]="valor">{{ valor }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tags_idtags">Tags</label>
      <select id="tags_idtags" [(ngModel)]="noticia.tags_idtags" name="tags_idtags" class="form-control">
        <option *ngFor="let tag of tags" [value]="tag.idtags">{{ tag.nombre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="imagen">Imagen</label>
      <input type="file" id="imagen" (change)="onFileSelected($event)" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Noticia</button>
  </form>
</div>
