<!-- gestión-etapas.component.html -->
<div class="container">
  <h1>Gestión de Etapas</h1>
  <a routerLink="/admin/gestion-etapas/add" class="add-link">Añadir Nueva Etapa</a>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etapa of etapas">
        <td>{{ etapa.nombre }}</td>
        <td>
          <a [routerLink]="['/admin/gestion-etapas', etapa.id]">Ver</a>
          <a [routerLink]="['/admin/gestion-etapas/edit', etapa.id]" class="action-link">Editar</a>
          <button (click)="deleteEtapa(etapa.id)" class="delete-button">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
