.login-container {
  font-family: "Prompt", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #26767c;
}

.login-box {
  background: #00BAC8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  .btn {
    border: 1px solid rgb(234 231 255 / 70%);
    font-family: "Prompt", sans-serif;
    color: #fff;
    border-radius: 100px;
    background-color: rgb(234 231 255 / 70%);
    margin-top: 20px;
    width: 140px;
    height: 40px;
    cursor: pointer;
  }

  .btn:hover{
    background-color: rgba(38, 218, 191, 0.7);
  }
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .login-container {
    padding: 10px;
    display: grid;
  }

  .login-box {
    margin: 10px;
    padding: 20px;
  }

  .mi-imagen {
    text-align: center;
    
  }
  .navbar-logo{
    width: fit-content !important;
  }

  .btn {
    width: 100px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .login-box {
    padding: 15px;
  }

  .navbar-logo {
    width: 120px;
  }

  .btn {
    width: 90px;
    height: 30px;
  }
}