.container-etapas {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container-etapas {
    padding: 10px;
  }
}

.form-group {
  margin-bottom: 1rem;
}

form.ng-untouched.ng-pristine.ng-invalid {
  padding: inherit;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control, .form-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.quill-editor {
  height: 200px;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
