.container {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .btn-edit {
    background-color: #32e7a2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-edit:hover {
    background-color: #00a05b;
    color: #fff;
  }
  
  .btn-back {
    margin-right: 10px;
    background-color: #0953e9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-back:hover {
    background-color: #2375c8;
    color: #fff;
  }