:host {
  background-color: #00BAC8 !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-sidebar {
  background-color: #00BAC8 !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
}

.sidebar {
  font-family: "Prompt", sans-serif;
  background-color: #00BAC8;
  color: #fff;
  width: 250px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0; /* Sidebar no debe encogerse */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
  padding: 20px; /* Agrega un padding al contenido si es necesario */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  padding: 20px 15px;
  display: block;
  flex-direction: column;
  align-items: start;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

nav ul li:hover {
  background-color: #26767c;
}

nav ul li i {
  margin-right: 10px;
  font-size: 1.2rem;
}

nav ul li ul {
  list-style: none;
  padding-left: 20px;
  display: none;
  flex-direction: column;
}

nav ul li ul li {
  padding: 5px 0;
}

nav ul li ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li ul li a:hover {
  text-decoration: underline;
}

nav ul li.open > ul {
  display: block;
}

.mobile-only {
  display: none !important; /* Ocultar en pantallas grandes */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #26767c;
  color: white;
  position: relative;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.1rem;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #26767c;
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .mobile-only {
    display: none; /* Mostrar elementos solo en pantallas pequeñas y tablets */
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Ocultar el sidebar fuera de la vista */
    width: 250px;
    height: 100%;
    background-color: #00BAC8;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
  }
  
  .sidebar.open {
    right: 0; /* Mostrar el sidebar al hacer clic en el menú */
  }

  .content {
    margin-left: 0; /* Asegura que el contenido ocupe toda la pantalla cuando el sidebar está oculto */
    transition: margin-left 0.3s ease-in-out;
  }
}
