html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  font-family: "Prompt", sans-serif;
  background-color: #00BAC8;
  color: #fff;
  height: 100vh; /* Esto asegura que el sidebar ocupe toda la altura del viewport */
  width: 250px;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  nav ul {
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      padding: 20px 15px;
      display: block;
      flex-direction: column; /* Asegura que los elementos dentro de 'li' se apilen verticalmente */
      align-items: start; /* Alinea los elementos a la izquierda */
      font-size: 1.1rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #26767c;
      }

      i {
        margin-right: 10px;
        font-size: 1.2rem;
      }

      ul {
        list-style: none;
        padding-left: 20px;
        display: none;
        flex-direction: column;

        li {
          padding: 5px 0;
        }

        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &.open > ul {
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;

    nav ul {
      display: flex;
      flex-direction: column;

      li {
        padding: 15px;
        text-align: center;

        ul {
          padding-left: 0;

          li {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #26767c;
  color: white;

  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.1rem;
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
}
