<div class="noticia-detalle-container" *ngIf="noticia; else loading">
  <h1>{{ noticia?.titulo }}</h1>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <img [src]="getFullImageUrl(noticia?.imagen)" alt="{{ noticia?.titulo }}" class="noticia-imagen">
  <p style="text-align: justify;">{{ noticia?.descripcion }}</p>
  <!-- Aquí puedes agregar más detalles de la noticia -->
  <button class="btn btn-primary" (click)="volver()">Volver</button>
</div>
<ng-template #loading>
  <p>Cargando...</p>
</ng-template>